.sidebar-button {
  width: 150px;
  height: 45px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto 10px;
  color: black;
  font-weight: 600;
  font-size: 14px;
  border-radius: 10px;
  transition-duration: 0.5s;

  border: 1px solid transparent;

  @media (max-width: 800px) {
    align-self: center;
    width: 33vw;
    height: 75%;
    font-size: 14px;
    margin: 0 3px;
    border-radius: 5px;
  }

  &:hover {
    &.about {
      color: #3828a1;
      border: 1px solid #3828a13b;
    }
    &.projects {
      color: #f98704;
      border: 1px solid #f987043b;
    }
    &.contact {
      color: #7ad851;
      border: 1px solid #7ad8513b;
    }
  }

  &.selected {
    color: white;

    @media (max-width: 800px) {
      border-radius: 5px;
    }
    &.about {
      background-color: #3828a1;
    }
    &.projects {
      background-color: #f98704;
    }
    &.contact {
      background-color: #7ad851;
    }

    &:hover {
      color: black;
    }
  }

  .button-icon {
    background-size: cover;
    width: 30px;
    height: 30px;
    margin: 0 5px;

    @media (max-width: 800px) {
      width: 23px;
      height: 23px;
    }
    &.about {
      background-image: url("../../assets/sidebar-logos/about.svg");
    }
    &.projects {
      background-image: url("../../assets/sidebar-logos/projects.svg");
    }
    &.contact {
      background-image: url("../../assets/sidebar-logos/contact.svg");
    }
  }
}
