.sidebar-button {
  width: 20vw;
  height: 6.5vh;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.3vw;
  display: flex;
  margin: 20px 0;
  align-items: center;
  color: black;
  align-self: flex-start;
  border-radius: 10px;
  transition-duration: 0.5s;
  background-color: rgba(246, 245, 245, 0.404);

  @media (max-width: 800px) {
    align-self: center;
    width: 33vw;
    height: 75%;
    font-size: 14px;
    margin: 0;
  }

  &:hover {
    box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.068);
    @media (max-width: 800px) {
      border-radius: 5px;
    }
    &.about {
      color: #3828a1;
    }
    &.projects {
      color: #f98704;
    }
    &.contact {
      color: #7ad851;
    }
  }

  &.selected {
    color: white;

    @media (max-width: 800px) {
      border-radius: 2px;
    }
    &.about {
      background-color: #3828a1;
    }
    &.projects {
      background-color: #f98704;
    }
    &.contact {
      background-color: #7ad851;
    }

    &:hover {
      color: black;
    }
  }

  .button-icon {
    background-size: cover;
    width: 30px;
    height: 30px;
    margin: 0 10px;
    @media (max-width: 800px) {
      width: 23px;
      height: 23px;
    }
    &.about {
      background-image: url("../../assets/sidebar-logos/about.svg");
    }
    &.projects {
      background-image: url("../../assets/sidebar-logos/projects.svg");
    }
    &.contact {
      background-image: url("../../assets/sidebar-logos/contact.svg");
    }
  }
}
