.sidebar-container {
  background-color: rgba(216, 232, 246, 0.7);
  width: 20%;
  height: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: -3px 3px 15px 1px rgba(0, 0, 0, 0.24);
  @media (max-width: 800px) {
    flex-direction: column;
    width: 100%;
    height: 75px;
    //border-radius: 5px 5px 0 0;
    align-items: center;
    justify-content: center;
  }

  .sidebar-buttons-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    @media (max-width: 800px) {
      flex-direction: row;
      height: 70px;
      align-items: center;
    }
  }
}
