.projects-page-container {
  display: flex;
  flex-basis: 100%;
  min-height: 75vh;
  flex-wrap: wrap;
  margin-bottom: 150px;
  .title-container {
    background-color: #fbb224;
    h1 {
      animation: fadeInAnimation 0.5s backwards;
      animation-delay: 0.5s;
      color: #fff;
      font-size: 30px;
      width: 75%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      span {
        font-size: 14px;
        text-align: left;
        color: rgba(129, 91, 16, 0.8);
        margin-left: 20px;
        font-weight: 500;
      }
    }
  }

  .projects-content {
    width: 75%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (max-width: 800px) {
  .projects-page-container {
    width: 100%;
    align-items: flex-start;
    margin-top: 20px;
    margin-bottom: unset;
    .title-container {
      h1 {
        margin-left: 5%;
        width: 95%;
      }
    }
    .projects-content {
      width: 100%;
      margin-top: 35px;
    }
  }
}
