.projects-page-container {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-left: 50px;
  @media (max-width: 800px) {
    align-items: flex-start;
  }

  h1 {
    font-size: 2vw;
    margin: 20px 0 0 0;
    font-weight: 700;
    @media (max-width: 800px) {
      font-size: 20px;
      margin: 20px 0 10px 10px;
    }
  }
  p {
    font-size: 20px;
    color: #777777;
    font-weight: 500;
    margin: 20px 0 20px 0;

    @media (max-width: 800px) {
      font-size: 12px;
      margin: 10px 0 20px 10px;
    }
  }
  .projects-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 50vw;
    min-height: 85vh;
    justify-content: center;
    row-gap: 15px;

    @media (max-width: 800px) {
      flex-direction: column;
    }
  }
}
