.icon-CSS {
  background-image: url("../../../assets/skill-logos/css-logo.png");
}
.icon-HTML {
  background-image: url("../../../assets/skill-logos/html-logo.png");
}
.icon-Javascript {
  background-image: url("../../../assets/skill-logos/javascript-logo.png");
}
.icon-React {
  background-image: url("../../../assets/skill-logos/react-logo.png");
}
.icon-React-Router {
  background-image: url("../../../assets/skill-logos/react-router-logo.png");
}
.icon-Bootstrap {
  background-image: url("../../../assets/skill-logos/bootstrap-logo.png");
}
.icon-Figma {
  background-image: url("../../../assets/skill-logos/figma-logo.png");
}
.icon-Firebase {
  background-image: url("../../../assets/skill-logos/firebase-logo.png");
}
.icon-VsCode {
  background-image: url("../../../assets/skill-logos/vscode-logo.png");
}
.icon-GIT {
  background-image: url("../../../assets/skill-logos/git-logo.png");
}
.icon-NPM {
  background-image: url("../../../assets/skill-logos/npm-logo.png");
}
.icon-React-Redux {
  background-image: url("../../../assets/skill-logos/redux-logo.png");
}
.icon-SCSS {
  background-image: url("../../../assets/skill-logos/scss-logo.jpg");
}
.icon-Tailwind {
  background-image: url("../../../assets/skill-logos/tailwind-css-logo.png");
}
