.icon-css {
  background-image: url("../../../assets/skill-logos/css-logo.png");
}
.icon-html {
  background-image: url("../../../assets/skill-logos/html-logo.png");
}
.icon-javascript {
  background-image: url("../../../assets/skill-logos/javascript-logo.png");
}
.icon-react {
  background-image: url("../../../assets/skill-logos/react-logo.png");
}
.icon-react-router {
  background-image: url("../../../assets/skill-logos/react-router-logo.png");
}
.icon-bootstrap {
  background-image: url("../../../assets/skill-logos/bootstrap-logo.png");
}
.icon-figma {
  background-image: url("../../../assets/skill-logos/figma-logo.png");
}
.icon-firebase {
  background-image: url("../../../assets/skill-logos/firebase-logo.png");
}
.icon-vscode {
  background-image: url("../../../assets/skill-logos/vscode-logo.png");
}
.icon-git {
  background-image: url("../../../assets/skill-logos/git-logo.png");
}
.icon-npm {
  background-image: url("../../../assets/skill-logos/npm-logo.png");
}
.icon-react-redux {
  background-image: url("../../../assets/skill-logos/redux-logo.png");
}
.icon-scss {
  background-image: url("../../../assets/skill-logos/scss-logo.jpg");
}
.icon-tailwind {
  background-image: url("../../../assets/skill-logos/tailwind-css-logo.png");
}
.icon-github {
  background-image: url("../../../assets/links-logo/github-logo.svg");
}
.icon-mail {
  background-image: url("../../../assets/links-logo/gmail-logo.png");
}
.icon-linkedin {
  background-image: url("../../../assets/links-logo/linkedin-logo.png");
}
.icon-web {
  background-image: url("../../../assets/links-logo/web-logo.svg");
}

.icon-next-js {
  background-image: url("../../../assets/skill-logos/next-logo.svg");
}
