.about-page-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 50px;

  @media (max-width: 800px) {
    margin-left: 0;
    margin-bottom: 20px;
    align-items: center;
    text-align: justify;

    h1 {
      width: 85%;
      text-align: left;
    }
  }
  h1 {
    font-size: 60px;
    margin: 0;
    @media (max-width: 800px) {
      font-size: 50px;
      margin-top: 20px;
      line-height: 1.5;
    }
  }

  .description-p {
    font-size: 22px;
    width: 900px;
    margin: 20px 0 15px 0;
    line-height: 1.5;

    @media (max-width: 800px) {
      margin: 0;
      width: 85%;
      font-size: 16px;
      line-height: 1.5;
      padding: 15px 0;
      font-weight: 300;
    }
    .about-job {
      font-weight: 600;
    }
  }
  .about-name {
    font-size: 35px;
    font-weight: 500;
    @media (max-width: 800px) {
      font-size: 20px;
    }
  }

  .typing-p {
    padding: 5px;
    font-size: 25px;
    font-family: "Source Code Pro", monospace;
    background-color: #3828a1;
    color: white;
  }
  p {
    font-size: 20px;
  }

  .tools-image {
    width: 450px;
    height: 325px;
    background-image: url("../../assets/skill-logos/skills-desktop.png");
    background-size: cover;
    margin: 20px 0;
    @media (max-width: 800px) {
      margin: 50px auto;
      width: 300px;
      height: 220px;
      transform: scale(1.1);
      background-image: url("../../assets/skill-logos/skills-mobile.png");
    }
  }
  .projects-link {
    padding: 1px 5px;
    font-weight: 600;
    color: #f98704;
    border-radius: 2px;
    text-decoration: none;
    @media (max-width: 800px) {
      margin: 10px 0 0px 0;
    }
  }
}
