.project-item-container {
  display: flex;
  flex-basis: calc(30vw - 1em);
  height: 28vh;
  background-color: #fff;
  margin: 10px 10px;
  box-shadow: 1px 1px 15px 1px rgba(156, 155, 155, 0.35);
  border-radius: 5px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  overflow: hidden;

  &:hover,
  :active {
    .project-title-container {
      height: 20%;
      margin-top: auto;
      background: rgb(255, 255, 255);
      h5 {
        font-size: 14px;
      }
    }
  }

  .project-title-container {
    margin-top: auto;
    transition-duration: 0.2s;
    flex-basis: 100%;
    height: 100%;
    background: rgb(255, 255, 255);
    background: linear-gradient(
      60deg,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(251, 178, 36, 0.5) 100%
    );
    display: inline-flex;
    h5 {
      margin: auto;
      background: rgb(255, 255, 255);
      padding: 10px;
      font-size: 16px;
      width: 100%;
      text-align: center;
    }
  }
}

@media (max-width: 1600px) {
  .project-item-container {
    height: 25vh;
  }
}

@media (max-width: 1200px) {
  .project-item-container {
    flex-basis: 75%;
    height: 35vh;
    margin: 15px auto;
  }
}
@media (max-width: 800px) {
  .project-item-container {
    flex-basis: 95%;
    height: 25vh;
  }
}
