.project-item-container {
  display: flex;
  flex-basis: calc(30vw - 1em);
  height: 32vh;
  background-color: #fff;
  margin: 10px 10px;
  box-shadow: 1px 1px 15px 1px rgba(156, 155, 155, 0.35);
  border-radius: 5px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  overflow: hidden;

  &:hover,
  :active {
    .project-title-container {
      margin-top: auto;
      transform: translateY(-0%);
      background-color: rgba(255, 255, 255, 1);
    }
  }

  .project-title-container {
    margin-top: auto;
    transition-duration: 0.2s;
    flex-basis: 100%;
    height: 40%;
    display: inline-flex;
    flex-wrap: wrap;
    align-content: flex-start;
    text-align: center;
    transform: translateY(50%);
    hr {
      border: none;
      border-top: 0.2px solid rgba(56, 40, 161, 0.3);
      width: 70%;

      margin: 0 auto;
    }
    h5 {
      color: #3828a1;
      height: 50%;
      margin: 0;
      margin-top: auto;
      font-size: 15px;
      flex-basis: 100%;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      @media (max-width: 1200px) {
        font-size: 14px;
      }
      &::before {
        position: absolute;
        background-color: rgba(255, 255, 255, 0.75);
        width: 100%;
        height: 50%;
        content: "";
        z-index: -1;
      }
    }
  }
}

@media (max-width: 1200px) {
  .project-item-container {
    flex-basis: 75%;
    height: 35vh;
    margin: 15px auto;
  }
}
@media (max-width: 800px) {
  .project-item-container {
    flex-basis: 95%;
    height: 30vh;
  }
}
@media (max-width: 500px) {
  .project-item-container {
    flex-basis: 95%;
    height: 27vh;
  }
}
