.App {
  text-align: left;
  width: 1366px;
  height: 768px;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (max-width: 800px) {
    flex-direction: column;
    width: 100vw;
    height: 100%;
  }

  .route-content-container {
    background-color: rgb(241, 240, 240);
    width: 75%;
    height: 95%;
    box-shadow: 3px 3px 15px 0px rgba(0, 0, 0, 0.24);
    @media (max-width: 800px) {
      flex-direction: column;
      width: 100%;
      height: 100%;
      border-radius: 0 0 5px 5px;
    }
  }
}
