.App {
  margin: auto;
  text-align: left;
  width: 90vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (max-width: 800px) {
    flex-direction: column;
    width: 100vw;
    height: 100%;
  }

  .route-content-container {
    width: 75%;
    display: grid;
    grid-template-rows: 1fr 1.5fr 1fr;
    height: 100%;
    @media (max-width: 800px) {
      width: 100%;
      grid-template-rows: 0.3fr 0.5fr 0.25fr;
      row-gap: 100px;
    }
  }

  .section-h2 {
    font-size: 2vw;
    margin: 50px 0 0 0;
    @media (max-width: 800px) {
      font-size: 5vw;
      margin: 20px 0 30px 10px;
      font-weight: 700;
      text-align: left;
    }
  }
  .section-h2-subtitle {
    color: #6f6d80;
    font-size: 1.2vw;
    margin: 20px 0 20px 0;
    width: 75%;
    font-weight: 500;
    line-height: 1.5;
    @media (max-width: 800px) {
      font-size: 3.3vw;
      margin: 10px 0 50px 10px;
      width: 90%;
    }
  }
}
