.App {
  margin: auto;

  @media (max-width: 800px) {
    flex-direction: column;
    width: 100vw;
    height: 100%;
  }

  .route-content-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 75px;
    @media (max-width: 800px) {
      margin-top: 0;
      margin-bottom: 75px;
      width: 100%;
      grid-template-rows: 0.3fr 0.5fr 0.25fr;
      row-gap: 100px;
    }
  }

  .title-container {
    width: 100%;
    height: 75px;
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
