@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap");
html,
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  height: 100%;
  width: 100%;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-about {
  background-image: linear-gradient(
      150deg,
      rgba(56, 40, 161, 0.75) 0%,
      rgba(10, 7, 20, 0.75) 100%
    ),
    url("./assets/background-blurred.jpg");
}
.background-projects {
  background-image: linear-gradient(
      150deg,
      rgba(249, 135, 4, 0.5) 0%,
      rgba(56, 51, 36, 0.6) 100%
    ),
    url("./assets/background-blurred.jpg");
}

.background-contact {
  background-image: linear-gradient(
      150deg,
      rgba(128, 217, 90, 0.65) 0%,
      rgba(21, 41, 15, 0.65) 100%
    ),
    url("./assets/background-blurred.jpg");
}
@media screen and (max-width: 1600px) {
  body {
    transform: scale(0.8);
  }
}
@media screen and (max-width: 800px) {
  body {
    transform: scale(1);
    margin: auto;
    height: auto;
  }
  .background-about,
  .background-projects,
  .background-contact {
    background-size: 150vw 150vh;
  }
}
