@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap");
html,
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  height: 100%;
  width: 100%;
  background-size: 150%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(240, 240, 240);
}

@media screen and (max-width: 1600px) {
  body {
    transform: scale(0.8);
  }
}
@media screen and (max-width: 1300px) {
  body {
    transform: scale(0.65);
  }
}
@media screen and (max-width: 950px) {
  body {
    transform: scale(0.55);
  }
}
@media screen and (max-width: 800px) {
  body {
    transform: scale(1);
    margin: auto;
    align-items: flex-start;
  }
  .background-about,
  .background-projects,
  .background-contact {
    background-size: 800%;
  }
}
