.contact-page-container {
  display: flex;
  width: 100%;
  min-height: 100vh;
  flex-wrap: wrap;
  align-content: stretch;

  .title-container {
    background: rgb(122, 216, 81);
    background: linear-gradient(
      149deg,
      rgba(122, 216, 81, 1) 0%,
      rgba(71, 198, 126, 1) 100%
    );
    h1 {
      color: #fff;
      font-size: 25px;
      width: 75%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      span {
        font-size: 14px;
        color: #539238;
        font-weight: 500;
        text-align: left;
        margin-left: 20px;
      }
    }
  }
  .contact-content {
    width: 75%;
    margin: 0 auto 0 auto;

    .contact-form {
      width: 70%;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      & * {
        border: 2px solid rgba(121, 216, 81, 0.7);
        margin: 5px 0;
        padding: 0;
        height: 50px;
        border-radius: 5px;
        font-family: inherit;
        font-size: 14px;
        font-weight: 500;
        flex-basis: 75%;
        //box-shadow: -0px 0px 5px 1px rgba(156, 155, 155, 0.35);
        &:focus {
          outline: none;
        }
      }
      h2 {
        width: 70%;
        margin: 0 auto;
        border: none;
        font-size: 22px;
      }

      input {
        text-indent: 10px;
      }
      textarea {
        resize: none;
        height: 150px;
        box-sizing: border-box;
        padding: 10px;
      }
      button {
        text-indent: 0px;
        background-color: #7ad851;
        border: none;
        cursor: pointer;
        font-weight: 600;
        &:hover {
          background-color: #6ec748;
        }
        &:active {
          transform: translateY(2px);
        }
      }
    }

    .contact-links-container {
      display: flex;
      flex-wrap: wrap;
      margin: 20px auto;
      width: 55%;
      justify-content: center;
      .skill-item-container {
        cursor: pointer;
        position: relative;
        a {
          width: 100%;
          height: 100%;
          position: absolute;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .contact-page-container {
    margin-left: 0;

    .title-container {
      h1 {
        margin-left: 5%;
        width: 95%;
        span {
          font-size: 12px;
        }
      }
    }
    .contact-content {
      width: 100%;
      margin: 20px auto 0 auto;
      .contact-form {
        width: 95%;
        & * {
          flex-basis: 95%;
          margin-top: 15px;
        }
      }
      .contact-links-container {
        width: 95%;
      }
    }
  }
}
